body {
  background-color: #e5e5e5;
  font-family: Montserrat, san-serif;
}
/* Container */
.container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* About Me */

.about__section {
  margin: 100px 90px;
  width: calc(100% - 370px);
}

.prof__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}

.my__name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 25px;
}

.about__text {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}

.about__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  columns: #000;
  margin-bottom: 10px;
}

/* My Projects */

.my__project {
  margin-bottom: 50px;
}

.projects__list {
  padding-left: 15px;
}

.projects__number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.projects__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}

.vector {
  color: #a8a8a8;
}

.projects__list__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My workexpirense */
.work__container {
  margin-bottom: 15px;
}

.work__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
}

.work__data {
  color: #000;
}

.work__title__color {
  color: #fb6d3a;
}

.work3__data {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.workexpirense__list {
  padding-left: 12px;
}

.workexpirense__text3 {
  width: 525px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.workexpirense__text2 {
  width: 525px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.workexpirense__text1 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* Education */
.Education__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.Education__data {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 5px 0 0 0;
}

/* Side Bar */
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

/* Side Bar sections */
.contact__section,
.tech__skill,
.soft__skill {
  margin: 50px 0 0 40px;
}

.sidebar__title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contact__label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}

.nomber {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
}

.mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  opacity: 0.5;
}

.sidebar__list {
  padding: 0 0 0 15px;
}

.link__mark__color {
  color: #fb6d3a;
}
.sidebar__link__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
